* {
    margin: 0;
    padding: 0;
}

.admin {
    min-width: 1450px;
}

.admin a{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    text-decoration: none;
    outline: none;
}

.Header {
    position: relative;
    display: flex;
    height: 52px;
    border-bottom: 3px solid #3d3939;
    background-color: #333;
    color: #f8f8f8;
    align-items: center;
    overflow: hidden;
    min-width: 1290px;

}
.Header .span1{
    position: relative;
    font-size: 18px;
    margin: 0 0 0 80px;
    letter-spacing: -0.05em;
    cursor: pointer;
    text-align: center;
}

.Header .span2{
    position: relative;
    font-size: 18px;
    margin-left: 8px;
    margin-right: 80px;
    letter-spacing: -0.05em;
    cursor: pointer;
    text-align: center;
    color: #00a2ff;
}

.Header .navi {
    display: flex;

}



.Header .navi span{
    position: relative;
    cursor: pointer;

}

.Header li  {
    position: relative;
    list-style: none;
    float: left;
    font-size: 15px;
    padding: 30px 80px 30px 80px;
    box-sizing:border-box;



}

.navi button {

    overflow: visible;
    cursor: pointer;
    background: none;
    border: 0;
    border-radius: 0;
    color: inherit;
    outline: none;

}

.span2::after{
    content: '';
    position: absolute;
    top: -17px;
    overflow: hidden;
    right: -80px;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
    z-index: 9;
    height: 60px;
    border-color: #4b4949fd;
    outline: none;
    color: transparent;
    font-size: 0;
    cursor: none;
}

.bar::before{
    content: '';

    position: absolute;
    top: 5px;
    border-style: solid;
    border-width: 0px 0px 2px 2px;
    z-index: 9;
    width: 6px;
    height: 6px;
    transform: rotate(-45deg);
    border-color: #fff;
    outline: none;
    cursor: pointer;
    color: transparent;
    font-size: 0;
    margin: 0 0 0 10px;

}

.bar::after {
    content: '';
    position: absolute;
    top: -17px;
    overflow: hidden;
    right: -80px;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
    z-index: 9;
    height: 60px;
    border-color: #4b4949fd;
    outline: none;
    color: transparent;
    font-size: 0;
    cursor: none;
}




.Header li::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -0;
    background-color: #000;
    -webkit-transform: scaleX(.3);
    transform: scaleX(.3);
    opacity: 0;
    transition: all .3s
}

.Header li:hover::before{
    opacity: 1;
    background-color: #080000;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
    transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
}







/* 좌측 바  */
.admin-bar {
    position: relative;
    width: 100%;
    min-width: 1300px;
    display: inline-block;
    background: url(../../img/main/bg.gif) left top repeat-y;
}

.admin-bar .admin-left {
    float: left;
    width: 209px;
    padding: 0 0 30px;
    z-index: 0;
}

.admin-left h2 {
    border-bottom: 1px solid #dadada;
    color: #2a343e;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    padding: 35px 0 31px 0;
}

.admin-bar .admin-container {
    margin-right: 0!important;
    border-right: 0;
}

/* 확인완료 */

.admin-container .admin-location {
    border-bottom: 1px solid #dddddd;
    color: #808080;
    font-size: 11px;
    line-height: 1.3;
    padding: 11px 0 7px 10px;
}

.admin-container h3 {
    background: url(../../img/main/h3.gif) left 6px no-repeat;
    line-height: 1.6;
    font-size: 14px;
    font-weight: bold;
    color: #2f2f2f;
    padding-left: 16px;
}


.admin-left .admin-ul li.on a {
    color: #0091dc;
}

.admin-left .admin-ul li a {
    display: block;
    height: 23px;
    padding: 13px 0 0 33px;
    line-height: 1.2;
    background: url(../../img/main/more.gif) 16px 13px no-repeat;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #dadada;
    font-size: 12px;
    color: #34343e;
    font-weight: bold;
}

.admin-left .admin-ul li.on ul {
    border-bottom: 1px solid #dadada;
    padding: 5px 0;
}

.admin-left .admin-ul li.on ul li a {
    height: 17px;
    padding: 7px 0 0 35px;
    color: #777777;
    font-weight: normal;
    border: 0 none;
    background: url(../../img/main/dot.gif) 26px 9px no-repeat;

}

.admin-left .left-ul .off a {
    height: 17px;
    padding: 7px 0 0 35px;
    color: #777777;
    font-weight: normal;
    border: 0 none;
    background: url(../../img/main/dot.gif) 26px 9px no-repeat;

}



.admin-container .admin-location {
    border-bottom: 1px solid #dddddd;
    color: #808080;
    font-size: 11px;
    line-height: 1.3;
    padding: 11px 0 7px 10px;
}



.admin-contents {
    padding: 20px 20px 0;
}

.admin-footer {
    clear: both;
    min-width: 1280px;
    background: #dedee0;
    color: hsl(0, 0%, 40%);
    padding: 18px 0 18px 20px;
    font-size: 11px;
}



.admin-bar .admin-container {
    margin: 0 209px 0 210px;
    overflow: hidden;
    padding: 0 0 50px;
    min-height: 700px;
    border-right: 1px solid #adadad;
}



/* 컨텐츠 라인 */
.txtbox1 {
    font-size: 14px;
    line-height: 1.4;
}

.top1 {
    margin-top: 10px;
}

.inv-list {
    margin-top: 20px;
    border: 3px solid #ccc;
    padding: 0px;
    width: 960px;
    height: 800px;
}

.inv-container {
    border: 1px solid #ccc;
    margin: 10px;
    width: 940px;
    height: 175px;
    overflow: hidden;

}

.inv-container .item1 {
    padding: 20px 20px 20px 20px;
    border-bottom:1px solid #ccc;
    font-size: 13px;

}
.inv-container .item2 {
    height: 50px;
    border-left:1px solid #ccc;
    padding: 30px 0 30px 60px;
    margin-left: 120px;
}







/* 컨텐츠 */
.content {
    min-height: 750px;
    min-width: 960px;
    padding: 24px 24px 100px;
    vertical-align: top;
    box-sizing: border-box;
}

.content th {
    font-weight: normal;
    vertical-align: middle;
    background-color: #fafafb;
}

.mOption th, .mOption td {
    height: 28px;
    padding: 8px;
    border: 1px solid #d9dadc;
    text-align: left;
}

.btnSearch span, .btnModify span {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    box-sizing: border-box;
    border-radius: 3px;
}
.mButton {
    position: relative;
    text-align: center;
}
.btnSearch span , .btnModify span {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 8px;
    border: 1px solid transparent;
    font-size: 12px;
    line-height: 26px;
    color: #fff;
    background-color: #444b59;
    height: 36px;
    min-width: 72px;
    font-size: 13px;
    line-height: 34px;
    vertical-align: top;
}

body, code {
    font-size: 12px;
    font-family: "Noto Sans KR","맑은 고딕","malgun gothic","Apple SD Gothic Neo",sans-serif;
    color: #1b1e26;
    -webkit-text-size-adjust: none;
    background-color: #f4f5f8;
}

.btnSearch.reset span, .btnModify.reset span {
    border: 1px solid #aeb4c6;
    color: #1b1e26;
    background-color: #fff;
}

.content h1 {
    position: relative;
    display: inline-block;
    padding: 0 2px 0 0;
    height: 32px;
    line-height: 32px;
    color: #1b1e26;
    font-size: 20px;
    vertical-align: middle;
    position: relative;
    margin: 0 0 16px;
}


.content h2 {
    display: inline-block;
    padding: 0 5px 0 0;
    color: #1b1e26;
    font-size: 16px;
    line-height: 1.5;
    vertical-align: middle;
    position: relative;
    margin: 18px 0 8px;
}

.mState {
    min-height: 46px;
    margin: 8px 0 -1px;
    padding: 8px;
    border: 1px solid #d9dadc;
    box-sizing: border-box;
    background-color: #fff;
}
.mState .gLeft {
    float: left;
}
.mState .total {
    float: left;
    margin: 6px 8px 0 0;
}

.mState .total strong {
    color: #3971ff;
}

.mState .gRight {
    float: right;
}

.fSelect {
    display: inline;
    height: 28px;
    margin: 0;
    padding: 0 24px 0 8px;
    border-radius: 3px;
    border: 1px solid #d6dae1;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #fff url('../../img/hoon/ico_select.png') no-repeat right 7px center;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.mState:after {
    content: "";
    display: block;
    clear: both;
}

caption {
    display: none;
}

li {
    list-style: none;
}
.btnIcon {
    display: inline-block;
    vertical-align: middle;
}

.btnDate span , .btnIcon span{
    min-width: 45px;
    padding: 0 8px;
    border: 1px solid #aeb4c6;
    color: #1b1e26;
    font-size: 12px;
    line-height: 26px;
    background-color: #fff;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    box-sizing: border-box;
    border-radius: 3px;
    vertical-align: top;
}

.mOption th, .mOption td {
    height: 28px;
    padding: 8px;
    border: 1px solid #d9dadc;
    text-align: left;
}

.mOption table {
    line-height: 18px;
    background-color: #fff;
}

.mBoard.gScroll {
    position: relative;
    overflow: auto;
    border-right: 1px solid #d9dadc;
    border-left: 1px solid #d9dadc;
    background-color: #fff;
}

table {
    table-layout: fixed;
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.mBoard table {
    line-height: 1.5;
    background-color: #fff;
}



.mBoard.gCell thead th {
    padding-left: 4px;
    padding-right: 4px;
}

.mBoard.gScroll th, .mBoard.gScroll td {
    border-right-width: 0;
}

.mBoard th, .mBoard td {
    padding: 9px 9px 7px;
    vertical-align: top;
}

.mBoard thead th {
    border: 1px solid #d9dadc;
    text-align: center;
    vertical-align: middle;
}


.btnIcon.icoBunch span {
    visibility: visible;
    display: inline-block;
    width: 24px;
    font-size: 11px;
    letter-spacing: 0;
    line-height: 13px;
    line-height: 14px\0;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.mBoard .center {
    text-align: center;
}
.mBoard table {
    line-height: 1.5;
    background-color: #fff;
}

.mBoard.gCell td {
    padding: 8px;
}

.mBoard tfoot > tr > th, .mBoard tbody > tr > td {
    border-top-width: 0;
}

.mBoard table {
    border-top: 1px solid #d9dadc;
}
.mBoard .left {
    text-align: left;
}
.mOpen {
    position: relative;
    display: inline-block;
}
.mBoard .gGoods {
    position: relative;
    text-align: left;
}

.gGoods .mOpen .frame {
    cursor: pointer;
}
.mBoard .gGoods .frame {
    float: left;
    margin: 0 0 2px;
}
.frame, .figure, span.zoom {
    display: inline-block;
    position: relative;
}

.frame img {
    max-width: 670px;
    padding: 2px;
    border: 1px solid #ccc;
    background-color: #fff;
}
table img {
    vertical-align: middle;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.mBoard .left {
    text-align: left;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.gGoods .mOpen {
    float: left;
}

.mBoard .gGoods.gMedium p, .mBoard .gGoods.gMedium ul {
    padding: 0 0 0 59px;
}

.mBoard .gGoods:after {
    content: "";
    display: block;
    clear: both;
}

 /*.clickable {*/
 /*    cursor: pointer;*/
 /*    text-decoration: underline;*/

 /*}*/

