* {
    margin: 0;
    padding: 0;
}

.admin {
    min-width: 1450px;
}

.admin a{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    text-decoration: none;
    outline: none;
}

.Header {
    position: relative;
    display: flex;
    height: 52px;
    border-bottom: 3px solid #3d3939;
    background-color: #333;
    color: #f8f8f8;
    align-items: center;
    overflow: hidden;
    min-width: 1920px;

}
.Header .span1{
    position: relative;
    font-size: 18px;
    margin: 0 0 0 80px;
    letter-spacing: -0.05em;
    cursor: pointer;
    text-align: center;
}

.Header .span2{
    position: relative;
    font-size: 18px;
    margin-left: 8px;
    margin-right: 80px;
    letter-spacing: -0.05em;
    cursor: pointer;
    text-align: center;
    color: #00a2ff;
}

.Header .navi {
    display: flex;

}



.Header .navi span{
    position: relative;
    cursor: pointer;

}

.Header li  {
    position: relative;
    list-style: none;
    float: left;
    font-size: 15px;
    padding: 30px 80px 30px 80px;
    box-sizing:border-box;



}

.navi button {

    overflow: visible;
    cursor: pointer;
    background: none;
    border: 0;
    border-radius: 0;
    color: inherit;
    outline: none;

}

.span2::after{
    content: '';
    position: absolute;
    top: -17px;
    overflow: hidden;
    right: -80px;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
    z-index: 9;
    height: 60px;
    border-color: #4b4949fd;
    outline: none;
    color: transparent;
    font-size: 0;
    cursor: none;
}

.bar::before{
    content: '';

    position: absolute;
    top: 5px;
    border-style: solid;
    border-width: 0px 0px 2px 2px;
    z-index: 9;
    width: 6px;
    height: 6px;
    transform: rotate(-45deg);
    border-color: #fff;
    outline: none;
    cursor: pointer;
    color: transparent;
    font-size: 0;
    margin: 0 0 0 10px;

}

.bar::after {
    content: '';
    position: absolute;
    top: -17px;
    overflow: hidden;
    right: -80px;
    border-style: solid;
    border-width: 0px 0px 0px 2px;
    z-index: 9;
    height: 60px;
    border-color: #4b4949fd;
    outline: none;
    color: transparent;
    font-size: 0;
    cursor: none;
}




.Header li::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -0;
    background-color: #000;
    -webkit-transform: scaleX(.3);
    transform: scaleX(.3);
    opacity: 0;
    transition: all .3s
}

.Header li:hover::before{
    opacity: 1;
    background-color: #080000;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
    transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
}

/* 좌측 바  */
.admin-bar {
    position: relative;
    width: 100%;
    min-width: 1300px;
    display: inline-block;
    background: url(../../img/main/bg.gif) left top repeat-y;
}

.admin-bar .admin-left {
    float: left;
    width: 209px;
    padding: 0 0 30px;
    z-index: 0;
}

.admin-left h2 {
    border-bottom: 1px solid #dadada;
    color: #2a343e;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    padding: 35px 0 31px 0;
}

.admin-bar .admin-container {
    margin-right: 0!important;
    border-right: 0;
}

/* 확인완료 */

.admin-container .admin-location {
    border-bottom: 1px solid #dddddd;
    color: #808080;
    font-size: 11px;
    line-height: 1.3;
    padding: 11px 0 7px 10px;
}

.admin-container h3 {
    background: url(../../img/main/h3.gif) left 6px no-repeat;
    line-height: 1.6;
    font-size: 14px;
    font-weight: bold;
    color: #2f2f2f;
    padding-left: 16px;
}


.admin-left .admin-ul li.on a {
    color: #0091dc;
}

.admin-left .admin-ul li a {
    display: block;
    height: 23px;
    padding: 13px 0 0 33px;
    line-height: 1.2;
    background: url(../../img/main/more.gif) 16px 13px no-repeat;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #dadada;
    font-size: 12px;
    color: #34343e;
    font-weight: bold;
}

.admin-left .admin-ul li.on ul {
    border-bottom: 1px solid #dadada;
    padding: 5px 0;
}

.admin-left .admin-ul li.on ul li a {
    height: 17px;
    padding: 7px 0 0 35px;
    color: #777777;
    font-weight: normal;
    border: 0 none;
    background: url(../../img/main/dot.gif) 26px 9px no-repeat;

}

.admin-left .left-ul .off a {
    height: 17px;
    padding: 7px 0 0 35px;
    color: #777777;
    font-weight: normal;
    border: 0 none;
    background: url(../../img/main/dot.gif) 26px 9px no-repeat;

}

.admin-container .admin-location {
    border-bottom: 1px solid #dddddd;
    color: #808080;
    font-size: 11px;
    line-height: 1.3;
    padding: 11px 0 7px 10px;
}



.admin-contents {
    padding: 20px 20px 0;
}

.admin-footer {
    clear: both;
    min-width: 1280px;
    background: #dedee0;
    color: #666666;
    padding: 18px 0 18px 20px;
    font-size: 11px;
}



.admin-bar .admin-container {
    margin: 0 209px 0 210px;
    overflow: hidden;
    padding: 0 0 50px;
    min-height: 700px;
    border-right: 1px solid #adadad;
}



/* 컨텐츠 라인 */
.txtbox1 {
    font-size: 14px;
    line-height: 1.4;
}

.top1 {
    margin-top: 10px;
}



.inv-list {
    margin-top: 30px;
    margin-left: 20px;
    /*border: 3px solid #ccc;*/
    padding: 10px;
    display: inline-block;
    width: 960px;
    height: 800px;
}
