* {
    margin: 0;
    padding: 0;
}


.location {
    padding-top: 10px;
    padding-left: 17%;
}

#container a { text-decoration: none; }
#container a:visited { text-decoration: none; }

#contents {
    padding-left: 17%;
    padding-right: 17%;
}

.page_title {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 32px;
}

a {
    text-decoration: none;
}


.bbsList {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bbsList ul {
    display: flex;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.bbsList ul li {
    text-align: center;
    background-color: white;
    border: 0.5px solid #d0d0d0;
    width: 33.333334%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.bbsList ul li span {
    color: black;
}


#N {
    background-color: rgb(18, 182, 96);
}
#N span{
    color: white;
}

.search_box {
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_box input[type="text"] {
    display: flex;
    width: 500px;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000000;
    font-size: 18px;
    padding-left: 10px;
}

.search_box img {
    position: relative;
    width: 30px;
}

/*.cateList cate2 ul li button span*/

.cateList{
    padding: 30px 0 30px;
    display: block;
}

.cate2 li {
    list-style: none;
    float: left;
    width: calc(100% / 6);
}
.cate2 li:last-child {
    margin-right: 0;
}

.cate2 li button:hover {
    background-color: #12b560;
    color: #fff;
}

.cate2 li.active button {
    background:#12b560;
    color: #fff;
}

.cate2 li button, .cate2 li a {
    position: relative;
    display: block;
    width: 100%;
    height: 46px;
    background: #f8f8f8;
    text-align: center;
    text-decoration: none;
    border: 0;
    outline: none;
}



.listHead{
    padding-bottom: 30px;
}

.listCnt {
    padding-top: 10px;
    padding-bottom: 10px;
}

.list table {
    width: 100%;
    border-top: 2px solid rgb(62, 62, 62);
    padding-bottom: 50px;
}

.list td {
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 0.1px solid rgb(204, 204, 204);
;
}

.list td.ttl {
    text-align: left;
    padding-left: 15px;
}

.list td.ttl a {
    color: black;
    text-decoration: none;
}

.list td.ttl a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.paging {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.paging a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
}

.paging a:hover {
    background-color: #ddd;
}

