* {
    margin: 0;
    padding: 0;
    font-family: "나눔바른고딕OTF", "돋움";

}

#pagetitle{
    font-size: 25px;
    font-weight: 400;
}

.tab {
    padding: 20px 0 10px 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}


.tab ul {
    display: flex;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.tab ul li {
    text-align: center;
    background-color: white;
    border: 0.5px solid #d0d0d0;
    width: 50%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.tab ul li span {
    color: black;
    font-size: 16px;
}


#L {
    background-color: rgb(18, 182, 96);
}

#L span {
    color: white;
}

/*1:1 상담내역 버튼 끝*/

/* 조회시작 */

.tableTypeSearch table th {
    text-align: left;
    vertical-align: middle;
    padding: 10px 0 10px 0;
}

.tableTypeSearch table td {
    color: #777777;
    background: #ffffff;
}

.inputRadio {
    margin-right: 10px;
}

.inputRadio span {
    vertical-align: middle;
}

.datepicker {
    height: 35px;
}

.btnType {
    margin-left: 10px;
    width: 70px;
    height: 35px;
    background-color: #f3f3f3;
    color:#222222;
    border: 1px solid #a7a7a7;
}


.tableHeadTxt {
    font-size: 15px;
    margin: 15px 0 10px 0;
}

.sub-ftColor7 {
    font-size: 14px;
    color: #d72137;
}








/* 테이블 시작 */
caption {
    display: none;
}
.questionCont {
    display: none;
    color: #777777;
}

.counselList {
    width: 100%;
}
.counselList table {
    width: 100%;
    margin: 20px 0 100px 0;
    border-collapse: collapse;
}

.counselList thead th{
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    padding: 15px 0 15px 0;
    font-size: 15px;
}

.counselList tbody tr {
    border-bottom: 1px solid #dcdcdc;
}
.counselList tbody td {
    padding: 15px 0 15px 0;
    font-size: 15px;
}

.no, .date, .stus {
    text-align: center;
}

.delBtn {
    width: 45px;
    height: 25px;
    border-radius: 0;
    background-color: #f3f3f3;
    color: #222222;
    border: 1px solid #a7a7a7;
    margin-left: 7px;
}
.counselList tbody td.questionCont {
    padding-left: 100px;
}
.questionC {
    margin-bottom: 20px;
    font-size: 14px;
    word-break: break-all;
}

.prod{
    font-size: 14px;
}
.reTitle{
    display: block;
    color: #222222;
    font-size: 15px;
    margin: 10px 0 10px 0;
    word-break: break-all;
}

.reBtn {
    display: inline-block;
    margin-right: 4px;
    padding: 0 6px 2px 4px;
    color: #fff;
    background: #12b560;
    line-height: 20px;
    border-radius: 3px;
}
.answerCont{
    font-size: 14px;
    word-break: break-all;
}
.answerDate{
    margin-top: 10px;
}

input[type="text"]{
    font-size: 16px;
    text-align: center;
    color:#222222;
}