<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="cacheEnabled" value="false"/>
    </settings>

    <typeAliases>
        <typeAlias alias="InvDto" type="com.dobby.project.hoon.domain.InvDto"/>
        <typeAlias alias="NoticeDto" type="com.dobby.project.soo.NoticeDto"/>
        <typeAlias alias="SearchCondition" type="com.dobby.project.soo.SearchCondition"/>
        <typeAlias alias="ProductDto" type="com.dobby.project.sun.domain.ProductDto"/>
        <typeAlias alias="ProductDCDto" type="com.dobby.project.sun.domain.ProductDCDto"/>
        <typeAlias alias="ProductCateDto" type="com.dobby.project.sun.domain.ProductCateDto"/>

        <typeAlias alias="CartDto" type="com.dobby.project.hwa.cart.CartDto"/>
        <typeAlias alias="CartProdDto" type="com.dobby.project.hwa.cart.CartProdDto"/>
    </typeAliases>


</configuration>