<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="useGeneratedKeys" value="true"/>

    </settings>

    <typeAliases>
        <!--   ming     -->
        <typeAlias alias="UserDto" type="com.dobby.project.ming.domain.UserDto"/>

        <!--   admin - YoungHoon     -->
        <typeAlias alias="InvDto" type="com.dobby.project.admin.domain.InvDto"/>
        <typeAlias alias="invSearchCondition" type="com.dobby.project.admin.domain.invSearchCondition"/>
        <typeAlias alias="AdminDto" type="com.dobby.project.admin.domain.AdminDto"/>

        <!--    soo    -->
        <typeAlias alias="NoticeDto"  type="com.dobby.project.soo.NoticeDto"/>
        <typeAlias alias="CounselDto" type="com.dobby.project.soo.CounselDto"/>
        <typeAlias alias="AnswerDto"  type="com.dobby.project.soo.AnswerDto"/>
        <typeAlias alias="CounselAnswerDto"  type="com.dobby.project.soo.CounselAnswerDto"/>
        <typeAlias alias="BbsFileDto" type="com.dobby.project.soo.BbsFileDto"/>
        <typeAlias alias="MemberDto"  type="com.dobby.project.soo.MemberDto"/>
        <typeAlias alias="ProdDto"  type="com.dobby.project.soo.ProdDto"/>
        <typeAlias alias="SearchCondition" type="com.dobby.project.soo.SearchCondition"/>



        <!--    hwa    -->
        <typeAlias alias="CartDto" type="com.dobby.project.cart.dto.CartDto"/>
        <typeAlias alias="CartProdDto" type="com.dobby.project.cart.dto.CartProdDto"/>
        <typeAlias alias="MbrDto" type="com.dobby.project.order.dto.MbrDto"/>
        <typeAlias alias="DlvDto" type="com.dobby.project.order.dto.DlvDto"/>
        <typeAlias alias="OrdDto" type="com.dobby.project.order.dto.OrdDto"/>
        <typeAlias alias="OrdProdDto" type="com.dobby.project.order.dto.OrdProdDto"/>
        <typeAlias alias="DlvpnLogDto" type="com.dobby.project.order.dto.DlvpnLogDto"/>
        <typeAlias alias="PointDto" type="com.dobby.project.order.dto.PointDto"/>
        <typeAlias alias="ProdCntDto" type="com.dobby.project.orderList.dto.ProdCntDto"/>
        <typeAlias alias="OrdProdInfoDto" type="com.dobby.project.orderList.dto.OrdProdInfoDto"/>

        <!--    sun    -->
        <typeAlias alias="ProductDto" type="com.dobby.project.sun.domain.ProductDto"/>
        <typeAlias alias="ProductDCDto" type="com.dobby.project.sun.domain.ProductDCDto"/>
        <typeAlias alias="ProductCateDto" type="com.dobby.project.sun.domain.ProductCateDto"/>
        <typeAlias alias="TotalDto" type="com.dobby.project.sun.domain.TotalDto"/>
        <typeAlias alias="ProductOptionDto" type="com.dobby.project.sun.domain.ProductOptionDto"/>
        <typeAlias alias="ProductHashtagDto" type="com.dobby.project.sun.domain.ProductHashtagDto"/>
        <typeAlias alias="ProductFileDto" type="com.dobby.project.sun.domain.ProductFileDto"/>
        <typeAlias alias="RegisterDto" type="com.dobby.project.sun.domain.RegisterDto"/>
        <typeAlias alias="SortDto" type="com.dobby.project.sun.domain.SortDto"/>



    </typeAliases>


</configuration>