*{
    margin :0;
    padding: 0;
    font-family: "나눔바른고딕OTF", "돋움";
}

.contents{
    font-family: "나눔바른고딕OTF", "돋움";
}
button{
    font-family: "나눔바른고딕OTF", "돋움";
}
.product-header {
    position: relative;
}

.product-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    padding: 20px;
    border-radius: 10px;


}

.product-header img {
    width: 100%;
    object-fit: cover; /* 이미지 크기 조절 추가 */
}

.product-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

/*pre{*/
/*    color: #777777;*/
/*    line-height: 1.6;*/
/*    font-size: 14px;*/
/*}*/

.product-desc pre{
    /*font-size: 16px;*/
    /*margin: 0;*/
    /*width: 80%; !* 너비 설정 수정 *!*/
    /*background: rgba(255, 255, 255, 0.8); !* 배경 설정 추가 (흰색으로 반투명) *!*/
    /*word-wrap: break-word; !* 단어 줄바꿈 *!*/
    color: #777777;
    line-height: 1.6;
    font-size: 14px;
}



.sort-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}
.product-length {
    font-size: 16px;
}
.product-sort-click ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.product-sort-click li {
    margin-right: 10px; /* 간격 조절 */
    cursor: pointer;
    font-size: 16px;
}

.contents {
    max-width: 1200px; /* 원하는 컨테이너의 최대 폭을 설정하세요 */
    margin: 0 auto; /* 왼쪽과 오른쪽 마진을 자동으로 설정하여 중앙 정렬 */
    padding: 20px; /* 필요한 경우 내용물과 컨테이너의 여백을 설정 */

}




/* ------------------ */
.product-list {

    display: flex;
    flex-wrap: wrap;
    gap: 5.5%;
    margin-top: 20px;
    justify-content: flex-start;
}

.product-row {
    display: flex;
    justify-content: space-between; /* 상품 사이에 동일한 공간 배치 */
    width: 100%;
    margin-bottom: 2%; /* 상품 행 아래에 20px 여백 추가 */
}

.product {
    width: 250px;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin-bottom: 100px;
}


.product img {
    position: relative;
    display: block;
    width: 250px;
    height: 250px;
}


.product-info {
    margin-top: 10px;
    font-size: 14px;
}

.product-name {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
}

.price {
    margin-top: 5px;
    margin-bottom: 5px;
}

.price strong {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-right: 5px;
}

.original-price {
    font-size: 16px;
    color: #999;
    text-decoration: line-through;
    margin-left: 5px;
}

.discount-rate {
    font-size: 18px;
    color: red;
}

.tag-wrap {
    margin-bottom: 5px;
}

.tag-wrap span {
    background-color: #ddd;
    color: #333;
    padding: 2px 5px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 12px;
}

.star-wrap {
    margin-top: 10px;
    font-size: 14px;
    color: #999;
    display: flex;
    align-items: center;
}
.starCnt{
    padding-right: 130px;
}
.star-wrap i {
    color: green;
    font-size: 17px;
}

.star-rating {
    margin-left: 5px;
}


.star-wrap .heart-icon i {
    color: #999;
    font-size: 24px;
    padding-right: 10px;
}
.icons .cart-icon i {
    color: #999999;
    font-size: 21px;
}


a {
    text-decoration: none; /* 밑줄 제거 */
    color: black;
    /*color: inherit; !* 텍스트 색상을 상위 요소와 동일하게 설정 *!*/
}

a:hover {
    text-decoration: none; /* 마우스를 올렸을 때만 밑줄이 나타나게 함 */

}

a:visited {
    color: black;
    text-decoration: none;
}


.sort-btn {
    border: none; /* 버튼 테두리 제거 */
    padding: 10px 5px; /* 상하, 좌우 패딩 적용 */
    font-size: 13px; /* 폰트 크기 설정 */

    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
    transition: background-color 0.3s ease; /* 배경색을 부드럽게 변경 */
    background-color: white; /* 기본 배경색 설정 */
    color: #777; /* 텍스트 색상 설정 */
    border-radius: 4px; /* 버튼 모서리 둥글게 */
}

.sort-btn:hover {
    color: black;
}