body{
    font-family: "나눔바른고딕OTF", "돋움";
}


.title .line{
    padding: 0 10%;
    margin-bottom: 3%;
    margin-top: 3%;
    color: black;
    font-size: 25px;

}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* 상품 사이에 동일한 공간 배치 */
    padding: 0 10%; /* 페이지 양옆에 20px 여백 추가 */
    box-sizing: border-box;
    color: black;
}

.product-row {
    display: flex;
    justify-content: space-between; /* 상품 사이에 동일한 공간 배치 */
    width: 100%;
    margin-bottom: 2%; /* 상품 행 아래에 20px 여백 추가 */
}

.product {
    width: 314px;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin-bottom: 100px;
}


.product img {
    position: relative;
    display: block;
    width: 314px;
    height: 314px;
}


.product-info {
    margin-top: 10px;
    font-size: 14px;
}

.product-name {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
}

.price {
    margin-top: 5px;
    margin-bottom: 5px;
}

.price strong {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-right: 5px;
}

.original-price {
    font-size: 16px;
    color: #999;
    text-decoration: line-through;
    margin-left: 5px;
}

.discount-rate {
    font-size: 18px;
    color: red;
}

.tag-wrap {
    margin-bottom: 5px;
}

.tag-wrap span {
    color: #333;
    padding: 2px 5px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 12px;
}

.star-wrap {
    margin-top: 10px;
    font-size: 14px;
    color: #999;
    display: flex;
    align-items: center;
}
.starCnt{
    padding-right: 185px;
}
.star-wrap i {
    color: green;
    font-size: 17px;
}

.star-rating {
    margin-left: 5px;
}


.star-wrap .heart-icon i {
    color: #999;
    font-size: 24px;
    padding-right: 10px;
}
.icons .cart-icon i {
    color: #999999;
    font-size: 21px;
}
a {
    text-decoration: none; /* 밑줄 제거 */
    color: black;
    /*color: inherit; !* 텍스트 색상을 상위 요소와 동일하게 설정 *!*/
}

a:hover {
    text-decoration: none; /* 마우스를 올렸을 때만 밑줄이 나타나게 함 */

}

a:visited {
    /*color: inherit; !* 방문한 링크 색상을 상위 요소와 동일하게 설정 *!*/
    color: black;
    text-decoration: none;
}