.title h2 {
    padding: 0 10%;
    color: #222222;
    margin-bottom: 3%;
    margin-top: 3%;

}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* 상품 사이에 동일한 공간 배치 */
    padding: 0 10%; /* 페이지 양옆에 20px 여백 추가 */
    box-sizing: border-box;
}

.product-row {
    display: flex;
    justify-content: space-between; /* 상품 사이에 동일한 공간 배치 */
    width: 100%;
    margin-bottom: 2%; /* 상품 행 아래에 20px 여백 추가 */
}

.product {
    width: 314px;
    box-sizing: border-box;
    padding: 0;
    border: none;
}


.product img {
    position: relative;
    display: block;
}

.product-info {
    margin-top: 10px;
    font-size: 14px;
}

.product-name {
    display: inline-block;
    width: 80%;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}

.price {
    margin-top: 5px;
    margin-bottom: 5px;
}

.price strong {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-right: 5px;
}

.original-price {
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
    margin-right: 5px;
}

.discount-rate {
    font-size: 16px;
    color: red;
}

.tag-wrap {
    margin-bottom: 5px;
}

.tag-wrap span {
    background-color: #ddd;
    color: #333;
    padding: 2px 5px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 12px;
}

.star-wrap {
    margin-top: 10px;
    font-size: 14px;
    color: #999;
    display: flex;
    align-items: center;
}

.star-wrap i {
    color: green;
}

.star-rating {
    margin-left: 5px;
}

.star-wrap .heart-icon {
    margin-left: auto;
}

.star-wrap .heart-icon i {
    color: #999;
    font-size: 24px;
}