
body {
    margin: 0;
    padding: 0;
    font-family: '맑은 고딕', verdana;
}

a {
    color: #05f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, lo, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ---------- */

div#root {
    width: 900px;
    padding-left: 50px;
}

header#header {
}

nav#nav {
}

section#container {
}

section#content {
    float: right;
    width: 700px;
}

aside#aside {
    float: left;
    width: 180px;
}

section#container::after {
    content: "";
    display: block;
    clear: both;
}



/*header#header div#header_box {*/
/*    text-align: center;*/
/*    padding: 30px 0;*/
/*}*/

/*header#header div#header_box h1 {*/
/*    font-size: 50px;*/
/*}*/

/*header#header div#header_box h1 a {*/
/*    color: #000;*/
/*}*/

/*nav#nav div#nav_box {*/
/*    font-size: 14px;*/
/*    padding: 10px;*/
/*    text-align: right;*/
/*}*/

/*nav#nav div#nav_box li {*/
/*    display: inline-block;*/
/*    margin: 0 10px;*/
/*}*/

/*nav#nav div#nav_box li a {*/
/*    color: #333;*/
/*}*/

section#container {
}

aside#aside h3 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

aside#aside li {
    font-size: 16px;
    text-align: center;
}

aside#aside li a {
    color: #000;
    display: block;
    padding: 10px 0;
}

aside#aside li a:hover {
    text-decoration: none;
    background: #eee;
}

aside#aside li {
    position: relative;
}

aside#aside li:hover {
    background: #eee;
}

aside#aside li > ul.low {
    display: none;
    position: absolute;
    top: 0;
    left: 180px;
}

aside#aside li:hover > ul.low {
    display: block;
}

aside#aside li:hover > ul.low li a {
    background: #eee;
    border: 1px solid #eee;
}

aside#aside li:hover > ul.low li a:hover {
    background: #fff;
}

aside#aside li > ul.low li {
    width: 180px;
}




  section#content ul li {
      margin: 10px 0;
      padding: 10px 0;
      border-bottom: 1px solid #999;
  }

section#content ul li img {
    width: 100px;
    height: 100px;
}

section#content ul li::after {
    content: "";
    display: block;
    clear: both;
}

section#content div.thumb {
    float: left;
    width: 120px;
}

section#content div.gdsInfo {
    float: left;   /** right 에서 수정 -**/
    width: calc(100% - 320px);
}

section#content div.gdsInfo {
    font-size: 14px;
    line-height: 2;
}

section#content div.gdsInfo span {
    display: inline-block;
    width: 100px;
    font-weight: bold;
    margin-right: 10px;
}

section#content div.gdsInfo .delete {
    text-align: right;
}

section#content div.gdsInfo .delete button {
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid #eee;
    background: #eee;
}

.allCheck {
    float: left;
    width: 200px;
}

.allCheck input {
    width: 16px;
    height: 16px;
}

.allCheck label {
    margin-left: 10px;
}

.delBtn {
    float: right;
    width: 300px;
    text-align: right;
}

.delBtn button {
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid #eee;
    background: #eee;
}

.checkBox {
    float: left;
    width: 30px;
}

.checkBox input {
    width: 16px;
    height: 16px;
}

.listResult {
    padding: 20px;
    background: #eee;
}

.listResult .sum {
    float: left;
    width: 45%;
    font-size: 22px;
}

.listResult .orderOpne {
    float: right;
    width: 45%;
    text-align: right;
}

.listResult .orderOpne button {
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid #999;
    background: #fff;
}

.listResult::after {
    content: "";
    display: block;
    clear: both;
}



