
body {
    margin: 0;
    padding: 0;
    font-family: '맑은 고딕', verdana;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, lo, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ---------- */

div#root {
    /*width: 900px;*/
    padding-left: 50px;
}

header#header {
}

nav#nav {
}

section#container {
    display: inline-block;
}

section#content {
    float: right;
    width: 700px;
    padding-left: 100px;
    padding-top: 20px;
}

aside#aside {
    float: left;
    width: 180px;
}

section#container::after {
    content: "";
    display: block;
    clear: both;
}




section#container {
}

aside#aside h3 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

aside#aside li {
    font-size: 16px;
    text-align: center;
}

aside#aside li a {
    color: #000;
    display: block;
    padding: 10px 0;
}

aside#aside li a:hover {
    text-decoration: none;
    background: #eee;
}

aside#aside li {
    position: relative;
}

aside#aside li:hover {
    background: #eee;
}

aside#aside li > ul.low {
    display: none;
    position: absolute;
    top: 0;
    left: 180px;
}

aside#aside li:hover > ul.low {
    display: block;
}

aside#aside li:hover > ul.low li a {
    background: #eee;
    border: 1px solid #eee;
}

aside#aside li:hover > ul.low li a:hover {
    background: #fff;
}

aside#aside li > ul.low li {
    width: 180px;
}


  section#content ul li {
      margin: 10px 0;
      padding: 10px 0;
      border-bottom: 1px solid #999;
  }

section#content ul li img {
    width: 100px;
    height: 100px;
}

section#content ul li::after {
    content: "";
    display: block;
    clear: both;
}

section#content div.thumb {
    float: left;
    width: 120px;
}

section#content div.gdsInfo {
    float: left;   /** right 에서 수정 -**/
    width: calc(100% - 320px);
}

section#content div.gdsInfo {
    font-size: 14px;
    line-height: 2;
}

section#content div.gdsInfo span {
    display: inline-block;
    width: 100px;
    font-weight: bold;
    margin-right: 10px;
}

section#content div.gdsInfo .delete {
    text-align: right;
}

section#content div.gdsInfo .delete button {
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid #eee;
    background: #eee;
}

.allCheck {
    float: left;
    width: 200px;
}

.allCheck input {
    width: 16px;
    height: 16px;
}

.allCheck label {
    margin-left: 10px;
}

.delBtn {
    float: right;
    width: 300px;
    text-align: right;
}

.delBtn button {
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid #eee;
    background: #eee;
}

.checkBox {
    float: left;
    width: 30px;
}

.checkBox input {
    width: 16px;
    height: 16px;
}

.listResult {
    padding: 20px;
    background: #eee;
}

.listResult .sum {
    float: left;
    width: 45%;
    font-size: 22px;
}

.listResult .orderOpne {
    float: right;
    width: 45%;
    text-align: right;
}

.listResult .orderOpne button {
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid #999;
    background: #fff;
}

.listResult::after {
    content: "";
    display: block;
    clear: both;
}

.spinner {
    display: inline-block;
    position: relative;
    border: 1px solid #dddee1;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.spinner:before, .spinner:after {
    content: "";
    display: table;
}

.spinner:after {
    clear: both;
}

.spinner input, .spinner button {
    float: left;
}

.spinner input {
    font-family: "Open Sans", "Noto Sans KR", "Malgun Gothic", "Apple SD Gothic Neo", "돋움", Dotum, Helvetica, Arial, sans-serif;
    width: 46px;
    height: 32px;
    line-height: 32px;
    color: #000000;
    padding: 0;
    font-size: 16px;
    border: 0;
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    text-align: center;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.spinner input[readonly] {
    background-color: #fff;
}

.spinner input[readonly]:focus {
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.spinner .btn-amount {
    display: block;
    width: 32px;
    height: 32px;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 11px 11px;
    overflow: hidden;
    text-indent: -9999px;
    font-size: 0.01em;
    color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.spinner .btn-amount.minus {
    border-right: 0;
    background-image: url("https://static.ableshop.kr/web/fo/static/images/common-fix/ico-spinner-minus.png");
}

.spinner .btn-amount.plus {
    border-left: 0;
    background-image: url("https://static.ableshop.kr/web/fo/static/images/common-fix/ico-spinner-plus.png");
}

.spinner.disabled {
    background-color: #e5e5e5;
}

.spinner.disabled input[type="text"] {
    color: #c1c1c1;
}

.spinner.disabled button.btn-amount {
    background-color: #e5e5e5;
}

.spinner.disabled button.minus {
    background-image: url("https://static.ableshop.kr/web/fo/static/images/common-fix/ico-spinner-minus.png");
}

.spinner.disabled button.plus {
    background-image: url("https://static.ableshop.kr/web/fo/static/images/common-fix/ico-spinner-plus.png");
}

.spinner.small .btn-amount {
    width: 24px;
    height: 24px;
    background-color: #f9f9f9;
}

.spinner.small input {
    width: 37px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
}

.spinner.small.disabled .btn-amount {
    background-color: #f6f6f6;
}

.spinner.small.disabled .btn-amount.minus {
    background-image: url("https://static.ableshop.kr/web/fo/static/images/common-fix/ico-spinner-minus.png");
}

.spinner.small.disabled .btn-amount.plus {
    background-image: url("https://static.ableshop.kr/web/fo/static/images/common-fix/ico-spinner-plus.png");
}

.spinner.small.disabled input {
    background-color: #f6f6f6;
}
#cart_header{padding: 30px 0 30px 0;}

.order_btn {
    /*       border: 1px solid black; */
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid #eee;
    background: #eee;

}

.inputArea{padding: 20px 0 20px 0}

/*변경 버튼*/
.btn {
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.btn.slightly {
    color: #222;
    border-color: #d5d5d5;
    background-color: #fff;
}
.btn.small {
    padding: 0 15px;
    height: 40px;
    line-height: 38px;
    font-size: 16px;
    /* font-weight: 400; */
}
/*변경 버튼 끝*/

.fee{
    vertical-align: top;
    display: inline-block;
    padding: 100px 50px 0 200px;
    width: 400px;
}


/* 이니스프리 결제박스*/
.totalPayment{
    display: inline-block;
    padding: 100px;
    vertical-align: top;
    width: 350px;
    position: sticky;
    top: 0;
}


.totalPayment .box {
	padding: 0 18px;
	border: 2px solid #222;
    height: 240px;
}
.totalPayment .btnType4xl {
	width: 100%;
	margin: 16px 0 0;
}
.totalPayment .loginTxt {
	padding: 18px 0 22px;
	text-align: center;
	color: #222;
	border-bottom: 1px solid #222;
}
.totalPayment .loginTxt .btnType1s {
	margin: 15px 0 0;
	padding: 0 30px;
}
.totalPayment .orderPrice {padding: 8px 0 0;}
.totalPayment .orderPrice .subTitle2 {margin: 10px 0 15px;}

.totalPayment .orderPrice .layerTooltip {
	top: 30px !important;
	left: -210px !important;
	text-align: left;
	white-space: nowrap;
}
.totalPayment .orderPrice dl {
	position: relative;
	padding: 8px 0;
	color: #222;
	text-align: right;
}
.totalPayment .orderPrice dt {float: left;}
.totalPayment .orderPrice dt.sub {padding-left:10px;}
.totalPayment .orderPrice dd {display: inline-block;}
.totalPayment .orderPrice .num {
    /*font-family: 'roboM';*/
    font-family: "나눔바른고딕OTF", "돋움";
	letter-spacing: -.04em;
}
.totalPayment .orderPrice .totalPrice {
	margin: 5px 0 0;
	padding: 10px 0 15px;
	border-top: 1px solid #dcdcdc;

}
.totalPayment .orderPrice .totalPrice dt {line-height: 30px;}
.totalPayment .orderPrice .totalPrice dd {
	font-size: 22px;
	color: #d72137;
}
.totalPayment .orderPrice .totalPrice dd .num {
	/*font: 26px/1.2 'roboM';*/
    font-family: NanumSquareNeo-dEb;
	vertical-align: middle;
}

.totalPayment .orderPrice .totalSale .num {color: #d72137;}
.totalPayment .orderPrice .saleBox {
	margin: 0 -10px;
	padding: 10px;
	background: #f3f3f3;
}
.totalPayment .orderPrice .saleBox.noBG {background:transparent;}
.totalPayment .orderPrice .saleBox dl {
	padding: 0;
	color: #777;
	font: 14px/1.8 'SDNeoL', 'notoL';
}
.totalPayment .orderPrice .saleBox dl.saleTit {font-family:'roboR','SDNeoL', 'notoR';color:#222;}
.totalPayment .orderPrice .saleBox dd .num {font-family: 'roboR';}

.totalPayment .btnType4xl {
    width: 100%;
    margin: 16px 0 0;
}
.btnType4xl {
     height: 65px;
     line-height: 65px;
     font-size: 22px;
}
[class*="btnType4"] {
    height: 50px;
    line-height: 40px;
    padding: 0 30px;
    background: #d72137;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border: none;
}

/* 이니스프리 결제박스 끝*/