* {
    word-break: keep-all;
}
.sub-section-inner .section-title-wrap {
    margin-bottom: 0;
}
.bottom-line {
    position: relative;
}
.sub-section-inner .section-title {
    position: relative;
    margin: 42px 44px 20px;
}
.sub-section-inner .section-title .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.section-title-wrap .title {
    font-size: 42px;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.bottom-line:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    bottom: -20px;
    left: 0;
    background-color: #d5d5d5;
}
.date-setting-content {
    padding: 24px 45px;
    border-bottom: 1px solid #d5d5d5;
}
.date-setting-content .date-setting-control .control-panel + .control-panel {
    margin-top: 12px;
}
.date-setting-content:before, .date-setting-content:after {
    content: "";
    display: table;
}
form {
    margin: 0;
    padding: 0;
}

.date-setting-content .date-setting-control {
    float: left;
    width: 765px;
}
.date-setting-content .date-setting-control .control-panel:before, .date-setting-content .date-setting-control .control-panel:after {
    content: "";
    display: table;
}
.date-setting-content.double .btn-search {
    height: 92px;
    line-height: 90px;
}
.date-setting-content .btn-search {
    float: right;
    width: 106px;
    background-color: #000;
}
.btn.normal {
    color: #fff;
    border-color: #222;
    background-color: #222;
}
.date-setting-content .date-setting-control .control-panel .type {
    float: left;
    width: 95px;
    margin-top: 6px;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: -0.03em;
}
.date-setting-content .date-setting-control .control-panel .date-set {
    float: left;
    margin-left: 9px;
}
.date-setting-content .date-setting-control .control-panel .date-set:before, .date-setting-content .date-setting-control .control-panel .date-set:after {
    content: "";
    display: table;
}
.date-setting-content .date-setting-control .control-panel.date .btn-area {
    float: left;
}

.date-setting-content .date-setting-control .control-panel .btn-area:before, .date-setting-content .date-setting-control .control-panel .btn-area:after {
    content: "";
    display: table;
}
.date-setting-content .date-setting-control .control-panel .btn-area .btn.on {
    font-weight: 500;
    border-color: #262626;
    color: #262626;
}
.date-setting-content .date-setting-control .control-panel.date .btn-area .btn {
    width: 70px;
}
.date-setting-content .date-setting-control .control-panel .btn-area .btn {
    display: block;
    float: left;
    margin-right: 4px;
    padding: 0;
    border-color: #89898a;
    color: #89898a;
}
.btn.slightly {
    color: #222;
    border-color: #d5d5d5;
    background-color: #fff;
}
.btn.small {
    padding: 0 15px;
    height: 40px;
    line-height: 38px;
    font-size: 16px;
    font-weight: 400;
}
.btn {
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, html a {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: subpixel-antialiased;
}
a {
    text-decoration: none;
    color: #222;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}


.date-setting-content .date-setting-control .control-panel .btn-area .btn:last-child {
    margin-right: 0;
}




.date-setting-content .date-setting-control .control-panel .btn-area:after {
    clear: both;
}
.date-setting-content .date-setting-control .control-panel .direct-select {
    float: left;
    margin-left: 16px;
}

.date-setting-content .date-setting-control .control-panel .direct-select .date-item {
    float: left;
    width: 160px;
    height: 40px;
    position: relative;
    padding-right: 40px;
    padding-left: 10px;
    border: 1px solid #d5d5d5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.date-setting-content .date-setting-control .control-panel .direct-select input[type="text"][readonly] {
    color: inherit;
    background-color: transparent;
}
.date-setting-content .date-setting-control .control-panel .direct-select input[type="text"] {
    width: 100%;
    height: 24px;
    margin-top: 7px;
    border-color: transparent;
    padding: 0;
}
input[type="text"][readonly], input[type="password"][readonly], input[type="number"][readonly], input[type="tel"][readonly], input[type="email"][readonly], input[type="search"][readonly] {
    color: #999;
    background-color: #f4f4f4;
}
input[type="text"], input[type="password"], input[type="number"], input[type="tel"], input[type="email"], input[type="search"] {
    display: block;
    width: 100%;
    -webkit-appearance: none;
    padding: 0 20px;
    height: 60px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border: 1px solid #d5d5d5;
    background-color: #fff;
    -webkit-transition: 0.4s border;
    -o-transition: 0.4s border;
    transition: 0.4s border;
    color: #222222;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
button, input {
    margin: 0;
    padding: 0;
    color: #111;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font: inherit;
    margin: 0;
}
.date-setting-content .date-setting-control .control-panel .direct-select .date-toggle {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 10px;
    width: 21px;
    height: 18px;
    margin-top: -9px;
    text-indent: -9999px;
    border: 0;
    cursor: pointer;
    background: url('https://static.ableshop.kr/web/fo/static/images/mypage/ico-calendar.png') no-repeat 0 0;
}

.date-setting-content .date-setting-control .control-panel .direct-select .hyphen {
    float: left;
    width: 11px;
    height: 1px;
    margin: 20px 7px 0;
    background-color: #d5d5d5;
}
.date-setting-content .date-setting-control .control-panel .direct-select .date-item {
    float: left;
    width: 160px;
    height: 40px;
    position: relative;
    padding-right: 40px;
    padding-left: 10px;
    border: 1px solid #d5d5d5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.date-setting-content .date-setting-control .control-panel .direct-select input[type="text"][readonly] {
    color: inherit;
    background-color: transparent;
}
.date-setting-content .date-setting-control .control-panel .direct-select input[type="text"] {
    width: 100%;
    height: 24px;
    margin-top: 7px;
    border-color: transparent;
    padding: 0;
}
input[type="text"][readonly], input[type="password"][readonly], input[type="number"][readonly], input[type="tel"][readonly], input[type="email"][readonly], input[type="search"][readonly] {
    color: #999;
    background-color: #f4f4f4;
}
input[type="text"], input[type="password"], input[type="number"], input[type="tel"], input[type="email"], input[type="search"] {
    display: block;
    width: 100%;
    -webkit-appearance: none;
    padding: 0 20px;
    height: 60px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border: 1px solid #d5d5d5;
    background-color: #fff;
    -webkit-transition: 0.4s border;
    -o-transition: 0.4s border;
    transition: 0.4s border;
    color: #222222;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
button, input {
    margin: 0;
    padding: 0;
    color: #111;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font: inherit;
    margin: 0;
}
.date-setting-content .date-setting-control .control-panel .direct-select:after {
    clear: both;
}
.date-setting-content .date-setting-control .control-panel .direct-select:before, .date-setting-content .date-setting-control .control-panel .direct-select:after {
    content: "";
    display: table;
}
.date-setting-content .date-setting-control .control-panel .date-set:after {
    clear: both;
}

.date-setting-content .date-setting-control .control-panel + .control-panel {
    margin-top: 12px;
}



.date-setting-content .date-setting-control .control-panel.state .btn-area {
    float: left;
    max-width: 620px;
}


.date-setting-content .date-setting-control .control-panel.state .btn-area .btn {
    width: 85px;
}

.date-setting-content .date-setting-control .control-panel .btn-area:after {
    clear: both;
}

