.sub-section-inner .section-title-wrap {
    margin-bottom: 0;
}
body {
    font-family: "나눔바른고딕OTF", "돋움";
}
table  th {
    font-weight: 200;
}

.sub-section-inner .section-title {
    position: relative;
    margin: 42px 44px 20px;
}
.sub-section-inner .section-title .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.section-title-wrap .title {
    font-size: 25px;
    font-weight: 400;
}
[class*="tabType"] + .subTitle2 {
    margin-top: 35px;
}
.subTitle2 {
    margin: 75px 0 24px;
    font-size: 22px;
}
[class*="subTitle"] {
    color: #222;
    font: 22px/1.2 '나눔바른고딕OTF', '돋움';
}
.tableType {
    position: relative;
    border-top: 2px solid #222;
}
.tableType table {
    margin-left: -1px;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 0;
    table-layout: fixed;
}
legend, caption, .hidden {
    position: absolute;
    z-index: -1;
    font-size: 0;
}

colgroup {
    background: none;
}

.tableType.noLine th {
    padding: 17px 16px;
    border-left: 0;
    text-align: left;
}
.tableType.noLine td {
    padding: 17px 16px;
    border-left: 0;
    text-align: left;
}
.tableType th:first-child, .tableType td:first-child {
    border-left: 0;
}
.tableType tbody th {
    text-align: left;
    font-family: '나눔바른고딕OTF', '돋움';
}
.tableType th, .tableType td {
    /*padding: 17px 14px;*/
    border-bottom: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    text-align: center;
    color: #222;
    font-family: '나눔바른고딕OTF', '돋움';
}


.subTitle2 {
    margin: 75px 0 24px;
    font-size: 22px;
}

.tableType {
    position: relative;
    border-top: 2px solid #222;
}
.tableType table {
    margin-left: -1px;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 0;
    table-layout: fixed;
}

.tableType.noLine thead th {
    border-bottom: 1px solid #dcdcdc;
    text-align: center;
}
.tableType.noPdg th, .tableType.noPdg td {
    padding: 17px 0;
    border-left: 0;
    text-align: left;
}

.tableType th:first-child, .tableType td:first-child {
    border-left: 0;
}
.tableType thead th {
    font-family: '나눔바른고딕OTF', '돋움';
    border-bottom: 1px solid #222;
}
[class*="tableType"] table .center, [class*="tableType"] table .center th, [class*="tableType"] table .center td {
    text-align: center;
}
label, td img {
    vertical-align: middle;
}
.tableType.noLine td.pdtCont {
    text-align: left;
}
.tableType.noLine td.pdtCont a {
    display: block;
    text-align: left;
}
.tableType.noLine td.pdtCont .name {
    display: block;
    margin: 8px 0;
    line-height: 1.2;
}
.tableType.noLine td.pdtCont .opt {
    display: block;
    font: 14px/1.4 '나눔바른고딕OTF', '돋움';
    color: #777;
}
[class*="tableType"] table .center, [class*="tableType"] table .center th, [class*="tableType"] table .center td {
    text-align: center;
}
.myOrderPrice {
    border-bottom: 1px solid #dcdcdc;
}
.myOrderPrice .orderPrice {
    padding: 8px 0;
}
.myOrderPrice .orderPrice dl {
    position: relative;
    padding: 6px 16px;
    color: #222;
    text-align: right;
}
.myOrderPrice .orderPrice dt {
    float: left;
}
.myOrderPrice .orderPrice dd {
    display: inline-block;
}
.myOrderPrice .orderPrice .num {
    font-family: '나눔바른고딕OTF','돋움';
    letter-spacing: -.04em;
}
.myOrderPrice .orderPrice dl {
    position: relative;
    padding: 6px 16px;
    color: #222;
    text-align: right;
}
myOrderPrice .orderPrice .totalPrice {
    margin: 6px 0 0;
    padding: 6px 0;
    border-top: 1px solid #dcdcdc;
}
.myOrderPrice .orderPrice .totalPrice dt {
    line-height: 30px;
}
.myOrderPrice .orderPrice .totalPrice dd.total {
    font-size: 22px;
    color: #d72137;
}
.myOrderPrice .orderPrice dd {
    display: inline-block;
}
.myOrderPrice .orderPrice .totalPrice dd.total .num {
    font: 26px/1.2 '나눔바른고딕OTF','돋움';
}

.helpWrap {
    position: relative;
    margin: 15px 0 0;
    font: 14px/1.5 '나눔바른고딕OTF', '돋움';
}
.bulListType > li {
    position: relative;
    padding-left: 16px;
    font: 14px/1.4 '나눔바른고딕OTF', '돋움';
    color: #999;
}
li {
    list-style: none;
}

.bulListType > li:after {
    content: "※";
    position: absolute;
    top: 0;
    left: 0;
}

.bulListType > li + li {
    margin: 3px 0 0;
}
.subTitle2 {
    margin: 75px 0 24px;
    font-size: 22px;
}
.tableType {
    position: relative;
    border-top: 2px solid #222;
}

tableType table {
    margin-left: -1px;
}

.subRight {
    float: right;
    margin: -48px 0 20px;
}



.btnType7s {
    height: 32px;
    line-height: 30px;
    padding: 0 16px;
}
[class*="btnType7"] {
    background: #f3f3f3;
    border: 1px solid #a7a7a7;
    color: #222;
    font-size: 14px;
}
[class*="btnType"] {
    display: inline-block;
    margin: 0 4px;
    vertical-align: middle;
    text-align: center;
    transition: all .3s;
    box-sizing: border-box;
}
button {
    overflow: visible;
    cursor: pointer;
    background: none;
    border: 0;
    border-radius: 0;
    color: inherit;
    outline: none;
}
input, select, textarea, button, pre, a {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    text-decoration: none;
    outline: none;
}

.tableType [class*="input"], .tableType [class*="btnType"] {
    vertical-align: 0;
}
.inputTxt:read-only {
    background: #fbfbfc;
}
.inputTxt {
    height: 40px;
    padding: 0 8px;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
    font-size: 16px;
    color: #222;
    vertical-align: middle;
}
.deliveryWriteWrap .row:first-child {
    margin-top: -4px;
}
.deliveryWriteWrap .row {
    padding: 4px 0;
}

.tableType [class*="input"], .tableType [class*="btnType"] {
    vertical-align: 0;
}
.inputTxt:read-only {
    background: #fbfbfc;
}
.inputTxt {
    height: 40px;
    padding: 0 8px;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
    font-size: 16px;
    color: #222;
    vertical-align: middle;
}
.tableType [class*="input"], .tableType [class*="btnType"] {
    vertical-align: 0;
}

.deliveryWriteWrap .inputChk {
    font-size: 16px;
    color: #777;
    margin-right: 10px;
}
.tableType [class*="input"], .tableType [class*="btnType"] {
    vertical-align: 0;
}
.inputChk:last-child, .inputRadio:last-child {
    margin-right: 0;
}
.inputChk {
    line-height: 22px;
}
.inputChk, .inputRadio {
    position: relative;
    display: inline-block;
    margin-right: 25px;
    padding-left: 23px;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
}
.selectArea {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.selectArea .selTit:disabled {
    color: #999;
}
.selectArea .selTit {
    width: 100%;
    height: 40px;
    padding: 0 38px 0 8px;
    background: url('https://images.innisfree.co.kr/resources/web2/images/common/arw_select.png') no-repeat 100% 50%;
    border: 1px solid #a7a7a7;
    text-align: left;
    font-size: 16px;
    color: #222;
    vertical-align: top;
}
.selectArea .selList {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    max-height: 170px;
    overflow: auto;
    margin: -1px 0 0;
    font-size: 16px;
    background: #fff;
    border: 1px solid #a7a7a7;
}

.selectArea .selList li {
    position: relative;
}

.selectArea .selList input[type="radio"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.tableType table {
    margin-left: -1px;
}
.btnWrap {
    text-align: center;
    margin-top: 80px;
}
.btnType3l {
    height: 48px;
    padding: 0 55px;
    font: 18px/48px 'SDNeoL', 'notoR';
}
[class*="btnType3"] {
    height: 40px;
    line-height: 40px;
    /*padding: 0 30px;*/
    background: #000;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
[class*="btnType"] {
    display: inline-block;
    margin: 0 4px;
    vertical-align: middle;
    text-align: center;
    transition: all .3s;
    box-sizing: border-box;
}
.btnWrap:after {
    content: "";
    display: block;
    clear: both;
}
