* {
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

.inner {
    margin: 0 auto;
    max-width: 500px;
    position: relative;
}

.header{
    height: 70px;
}

.headerBox {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #fff;
    z-index: 100;
    border-bottom: 2px solid #f0f0f0;
    box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.9);
}

.headerBox h1 {
    line-height: 70px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.headerBox .btn_page_close {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 70px;
    background: url(/img/ming/login_img/btn_textfield_delete.png) no-repeat 50% 50%;
    -webkit-background-size: 23px auto;
    background-size: 23px auto;
}

body {
    font-family: "나눔바른고딕OTF", "돋움";
    font-weight: 400;
    letter-spacing: -0.8px;
    font-size: 14px;
    line-height: 1.5;
    color: #252525;
}

input, select, textarea, button {
    font-family: "나눔바른고딕OTF", "돋움";
    vertical-align: middle;
    font-weight: 400;
    font-size: 14px;
}

button, input[type="submit"], input[type="button"], input[type="reset"] {
    cursor: pointer;
}

button {
    background: transparent;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: none;
    border-image-width: 0;
    font-family: inherit;
    font-weight: 400;
    color: #252525;
}

.blind {
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    font-size: 1px;
    line-height: 1px;
    color: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
}

.container {
    padding: 10px 20px 40px;
    margin: 0 auto;
    max-width: 768px;
}

.login-title_maintext {
    width: 400px;
    height: 50px;
    margin: 40px auto 40px;
    font-family: "나눔바른고딕OTF", "돋움";
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: -1px;
    text-align: center;
    color: #000;
}

.view_keyboard {
    padding-bottom: 12px;
    text-align: right;
}

.view_keyboard.is_open .btn_keyboard:before {
    transform: rotate(180deg);
}

.btn_open_info:focus, .close_layer_info:focus, #btnCloseAction:focus, .btn_del:focus, .btn_keyboard:focus, #do-regist-login:focus, #do-next:focus, #do-regist-login:focus, .btn_all_view:focus, #mobile-login:focus, #more-login:focus, .sns-btn:focus, #search_id:focus, #search_pwd:focus, #search_order:focus, .loginbtn:focus, #dojoin:focus, .btn_prev_page:focus, .btn_link_bp:focus, #go-home:focus, #sendsms:focus, .btn_link:focus, .sns-btn-way:focus, #mobile-login_pop:focus, #btnSmsResesnd:focus, #btnOkAction:focus, #change-pwd-cancel:focus, #dochangepwd:focus, #do-login-online:focus, #membership-join-finish:focus, #btnCloseAction:focus, #send-userid:focus, #do-login:focus, #terms-agree-next:focus, #term-agree-ok:focus {
    outline: 2px solid #0A40D5;
}

.view_keyboard .btn_keyboard {
    position: relative;
    padding-right: 22px;
    font-size: 13px;
    color: #898989;
    letter-spacing: -0.65px;
}

.view_keyboard .btn_keyboard:before {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -4px;
    width: 14px;
    height: 8px;
    background: url(/img/ming/login_img/btn_keyboard_open.png) no-repeat 0 0;
    transform: rotate(180deg);
    -webkit-background-size: 14px auto;
    background-size: 14px auto;
    content: "";
}

.view_keyboard .img_keyboard {
    display: none;
}

/*
.view_keyboard.is_open .btn_keyboard:before {
transform: rotate(180deg);
} */

img {
    width: 60%;
    border: 0;
    vertical-align: top;
    overflow-clip-margin: content-box;
    overflow: clip;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: block;
    margin-top: 0em;
}

.input_form {
    margin-bottom: 13px;
}

.input_form .inp {
    position: relative;
    display: block;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
    padding: 0 12px;
    width: 70%;
    height: 50px;
    line-height: 48px;
    color: #252525;
    font-size: 16px;
    letter-spacing: -0.7px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    -webkit-appearance: none;
    appearance: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.input_form .inp .btn_del {
    position: absolute;
    right: 8px;
    top: 10px;
    width: 30px;
    height: 30px;
    background: #fff url(/img/ming/login_img/btn_textfield_delete.png) no-repeat 50% 50%;
    -webkit-background-size: 13px auto;
    background-size: 13px auto;
    border-radius: 50%;
}

.form_guide_txt {
    padding-top: 10px;
    font-size: 13px;
    line-height: 1.38;
    letter-spacing: -0.65px;
}

p {
    vertical-align: middle;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.btn_submit.mt20 {
    margin-top: 20px;
    width: 70%;
    height: 54px;
    border-radius: 6px;
    font-size: 16px;
    letter-spacing: -0.8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn_submit {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 30px -5px 0;
}

.checkboxA label {
    padding-left: 27px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 2;
    line-height: 21px;
    color: #252525;
    letter-spacing: -0.8px;
}

label {
    vertical-align: middle;
    cursor: pointer;
}

.btn_submit .checkboxA {
    margin-left: 5px;
}

.checkboxA {
    display: inline-block;
    position: relative;
}

.checkboxA input {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

.checkboxA input:checked + label:before {
    content: "";
    background-image: url(/img/ming/login_img/btn_check_on.png);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.checkboxA label:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 21px;
    height: 21px;
    vertical-align: middle;
    background: url(/img/ming/login_img/btn_check_off.png) no-repeat 0 0;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}

.btnA:disabled, .btnA[disabled] {
    background-color: #f0f0f0;
    border-color: #f0f0f0;
    color: #c6c6c6;
}

button:disabled {
    cursor: not-allowed;
}

.sec_login .login_opt {
    margin-top: 20px;
}

.btnA {
    width: 70%;
    height: 54px;
    border-radius: 6px;
    font-size: 16px;
    letter-spacing: -0.8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sns-btn {
    width: 100%;
    height: 70px;
    border-radius: 6px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn_blue {
    border: solid 1px #5c95f0;
    background-color: #5c95f0;
    color: #fff;
}

button {
    background: transparent;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: none;
    border-image-width: 0;
    font-family: inherit;
    font-weight: 400;
    color: #252525;
}

button:disabled {
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
    border-color: -internal-light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}

ul, ol, dl, dt, dd, li {
    list-style: none;
}

ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 50px;
    margin-inline-end: 0px;
    padding-inline-start: 1px;
}

.bottom_menu {
    text-align: center;
    font-size: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bottom_menu li a {
    display: block;
    margin: 20px 9px;
    font-size: 14px;
    color: #898989;
    letter-spacing: -0.75px;
}

.bottom_menu li {
    position: relative;
    padding-left: 10px;
    display: inline-block;
}

/* .bottom_menu li:before {
 position: absolute;
 left: 0;
 top: 50%;
 margin-top: -8px;
 width: 2px;
 height: 12px;
 background-color: #c6c6c6;
 content: "";
}*/

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

section {
    display: block;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

/*.bottom_menu li {
position: absolute;
left: 0;
top: 50%;
margin-top: -6px;
width: 1px;
height: 12px;
background-color: #c6c6c6;
content: "";
}*/

.just_line {
    position: absolute;
    left: 1;
    margin-top: -12px;
    width: 1px;
    height: 17px;
    background-color: #c6c6c6;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn_join_membership {
    margin-top: 15px;
    padding: 0 20px;
    height: 44px;
    font-size: 14px;
    letter-spacing: -0.7px;
}

.btn_white {
    border: solid 1px #d3d3d3;
    background-color: #fff;
}

.btn_join_membership em:before {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -6px;
    width: 7px;
    height: 12px;
    background: url(/img/ming/login_img/icon_signup_arrow.png) no-repeat 0 0;
    -webkit-background-size: 7px auto;
    background-size: 7px auto;
    content: "";
}

.btn_join_membership em {
    position: relative;
    padding-right: 12px;
    float: right;
    font-weight: 500;
}

strong, em, b {
    font-weight: 400;
}

.btn_join_membership {
    margin-top: 15px;
    padding: 0 20px;
    height: 44px;
    font-size: 14px;
    letter-spacing: -0.7px;
}

.btn_join_membership span {
    float: left;
}