* {
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

.inner {
    margin: 0 auto;
    max-width: 500px;
    position: relative;
}

.header{
    height: 70px;
}

.headerBox {
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #fff;
    z-index: 100;
    border-bottom: 2px solid #f0f0f0;
    box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.9);
}

.headerBox h1 {
    line-height: 70px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.headerBox .btn_page_close {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 70px;
    background: url(https://one-ap.amorepacific.com/auth/images/common/btn_textfield_delete.png) no-repeat 50% 50%;
    -webkit-background-size: 23px auto;
    background-size: 23px auto;
}

body {
    font-family: "나눔바른고딕OTF", "돋움";
    font-weight: 400;
    letter-spacing: -0.8px;
    font-size: 20px;
    line-height: 1.5;
    color: #252525;
}

input, select, textarea, button {
    font-family: "나눔바른고딕OTF", "돋움";
    vertical-align: middle;
    font-weight: 400;
    font-size: 20px;
}

button, input[type="submit"], input[type="button"], input[type="reset"] {
    cursor: pointer;
}

.page_top_area {
    width: 70%;
    height: 65px;
    margin: 0px auto 0px;
    font-family: "나눔바른고딕OTF", "돋움";
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -0.8px;
    color: #000;
}

button {
    background: transparent;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: none;
    border-image-width: 0;
    font-family: inherit;
    font-weight: 400;
    color: #252525;
}

.blind {
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    font-size: 1px;
    line-height: 1px;
    color: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
}

.container {
    padding: 10px 20px 40px;
    margin: 0 auto;
    max-width: 768px;
}


.form_guide_txt {
    padding-top: 10px;
    font-size: 13px;
    line-height: 1.38;
    letter-spacing: -0.65px;
}

.btn_submit.mt20 {
    margin-top: 20px;
    width: 70%;
    height: 54px;
    border-radius: 6px;
    font-size: 16px;
    letter-spacing: -0.8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
section, nav, article, aside, header, footer, main {
    display: block;
}

.btn_submit {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 30px -5px 0;
}

.btnA:disabled, .btnA[disabled] {
    background-color: #f0f0f0;
    border-color: #f0f0f0;
    color: #c6c6c6;
}

button:disabled {
    cursor: not-allowed;
}

.sec_login .login_opt {
    margin-top: 20px;
}

.btnA {
    width: 70%;
    height: 54px;
    border-radius: 6px;
    font-size: 16px;
    letter-spacing: -0.8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn_blue {
    border: solid 1px #5c95f0;
    background-color: #5c95f0;
    color: #fff;
}

button {
    background: transparent;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: none;
    border-image-width: 0;
    font-family: inherit;
    font-weight: 400;
    color: #252525;
}

button:disabled {
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
    border-color: -internal-light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}

section {
    display: block;
}
.sec_join .user_info .tit_id{
    margin-bottom: 40px;
}
.user_info {
    width: 70%;
    padding: 17px;
    border-radius: 6px;
    border: solid 1px #e5e5e5;
    background-color: #f8f8f8;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.user_info .st_txt {
    font-size: 18px;
    font-weight: 700;
}

.user_info h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.39;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.user_info.mb13 {
    margin-bottom: 13px;
}

.user_info em.tit_w33 {
    width: 33%;
}

strong, em, b {
    font-weight: 400;
}

i, em, u, cite {
    font-style: normal;
}

.user_info em.tit {
    display: inline-block;
    color: #898989;
    letter-spacing: -0.7px;
    font-size: 14px;
}

.tit_id {
    width: 70%;
    margin: 40px auto 0px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
}

.page_top_area h2 {
    margin-top: 25px;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -1px;
    font-weight: 700;
}
.page_top_area p {
    margin-top: 0px;
    font-size: 20px;
    line-height: 0;
}
p {
    vertical-align: middle;
}
p {
    display: block;
    margin-block-start: 2em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}