* {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}

html, body, div, span, strong, a, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite,
code, del, dfn, em, ins, kbd, q, samp, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
audio, video, input {
    margin: 0;
    padding: 0;
    font-family: "나눔바른고딕OTF", "돋움"
}

.default-title__custom h3 {
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    color: #222;
}

body, input, textarea, select, button, table {
    font-size: 12px;
    color: #222222;
    background: none;
}

.default-title__container {
    margin-bottom: 21px;
}

style {
    display: none;
}

div {
    display: block;
}

element.style {
    margin-bottom: 51px;
    margin-top: 120px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.popup2 .designPopup {
    left: 600px !important;
}

#personInfo {
    width: 880px !important;
    margin: 0 auto;
    background: #fff !important;
    border: 1px solid #e9e9e9 !important;
}

.person-tb {
    border-top: 1px solid #e9e9e9;
}

table {
    margin: 0 auto;
}

body, input, textarea, select, button, table {
    font-size: 12px;
    color: #222222;
    background: none;
}

body, input, textarea, select, button, table {
    font-size: 12px;
    color: #555;
}

input#hphone, input#ophone, input#etcphone {
    border: 1px solid #ddd;
    width: 235px !important;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
    word-break: keep-all;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}

colgroup {
    display: table-column-group;
}

col {
    display: table-column;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.person-tb th {
    padding: 13px 10px 13px 34px;
    background-color: #f8f8f8;
    vertical-align: top;
    color: #000;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}

.person-tb th, .person-tb td {
    height: 30px;
    border-bottom: 1px solid #e9e9e9;
}

th, td {
    word-wrap: break-word;
    word-break: break-all;
    /* vertical-align: middle; */
    line-height: 1.4;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

.person-tb .head-cell {
    position: relative;
    padding-top: 10px;
}

.person-tb .head-cell .empha {
    position: absolute;
    top: 6px;
    left: -10px;
    font-size: 14px;
    color: #f8574f;
}
.person-tb td {
    padding: 13px;
    vertical-align: middle;
}

td {
    display: table-cell;
    vertical-align: inherit;
}
input#id {
    width: 160px !important;
}

#hname {
    width: 280px !important;
}
input[type='text'], input[type='file'], input[type='password'] {
    border: 1px solid #ccc;
    background: #fff;
    height: 20px;
    line-height: 20px;
    text-indent: 3px;
    padding: 0;
}

input[type='text'], input[type='file'], input[type='password'] {
    padding: 0 !important;
    height: 50px !important;
    font-size: 15px !important;
    text-indent: 15px !important;
}

.cbtn.form {
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    background: #fff;
    font-size: 13px;
}

a:link, a:visited, a:active {
    color: #333;
}

a:link, a:active, a:focus {
    color: #666;
    text-decoration: none;
}

.MS_input_txt, .txt-frm {
    width: 100%;
    height: 80px !important;
    line-height: 1 !important;
    padding: 36px 19px 28px !important;
    border: 1px solid #ddd !important;
    background-color: #fff !important;
    font-size: 18px;
    color: #222;
    _box-sizing: border-box;
}

.MS_input_txt {
    margin-right: 5px;
    padding: 2px 0 0 2px;
    line-height: 31px;
    height: 31px;
}

.small-input, .normal-input, .large-input {
    height: 31px;
    line-height: 31px;
    border: 1px solid #ddd;
    padding: 0 10px;
}

.normal-input {
    width: 265px;
}

.cbtn {
    display: inline-block;
    font-size: 11px;
    color: #000;
    min-width: 98px;
    height: 31px;
    line-height: 32px;
    border: 1px solid #000;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#personInfo {
    width: 880px !important;
    margin: 0 auto;
    background: #fff !important;
    border: 1px solid #e9e9e9 !important;
}

colgroup {
    display: table-column-group;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
col {
    display: table-column;
}

input#hphone, input#ophone, input#etcphone {
    border: 1px solid #ddd;
    width: 235px !important;
}

img, fieldset {
    border: 0;
    vertical-align: middle;
}

legend, hr {
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
}
#chkwrap .all-chk {
    height: 43px;
    line-height: 45px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid #dedede;
}
#chkwrap .all-chk {
    height: 43px;
    line-height: 45px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid #dedede;
}
.new-privercy-contract {
    padding: 40px 0 5px;
}
.new-privercy-contract {
    text-align: left;
}
#snsConnect, .new-privercy-contract {
    width: 880px;
    margin: 0 auto;
}
#chkwrap {
    border: 1px solid #dedede;
    background: #ffffff;
}
#chkwrap {
    border: 1px solid #dedede;
}
label {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 10px;
}
input[type='checkbox'], input[type='radio'] {
    width: 15px;
    height: 15px;
    vertical-align: middle !important;
    margin-left: 0;
    margin-right: 0;
}
input[type="checkbox"] {
    width: 21px !important;
    height: 21px !important;
    padding: 0 0 0 20px !IMPORTANT;
    background: #fff url(https://www.theskinfood.com/design/skinfood/skinfood/images/icon/icon_checkbox_default.png) no-repeat left top;
    cursor: pointer;
    -webkit-appearance: inherit;
}
input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}
#chkwrap .p10 {
    padding: 10px;
}
.new-privercy-contract .p10 {
    padding: 10px;
}
#chkwrap .cont ul {
    width: 600px;
}
#chkwrap .cont ul {
    padding-bottom: 15px;
    width: 100% !important;
}
ul, ol {
    list-style: none;
}
input, select, textarea, button, ul, ol, li, dl, dt, dd {
    vertical-align: middle;
}
#chkwrap .cont ul li {
    float: left;
    width: 270px;
    line-height: 18px;
}
#chkwrap .cont ul li {
    float: left;
    width: 300px !important;
    line-height: 18px;
}
#chkwrap .cont label {
    font-weight: bold;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
#chkwrap .cont ul li a {
    margin-left: 6px;
    line-height: 17px !important;
}
a:link, a:visited, a:active {
    color: #333;
}
a:link, a:active, a:focus {
    color: #666;
    text-decoration: none;
}
#chkwrap .cont ul li a {
    display: inline-block;
    width: 60px;
    height: 16px;
    line-height: 20px;
    *line-height: 18px;
    margin-top: -2px;
    font-weight: normal;
    font-size: 11px;
    border: 1px solid #bdbec7;
    background: #fafafa;
    text-align: center;
}

#chkwrap .ml-30 {
    margin-left: 30px;
}
#chkwrap .pt-10 {
    padding-top: 10px;
}
.pt-10 {
    padding-top: 10px;
}
:root {
    --swiper-navigation-size: 44px;
}
li {
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul {
    list-style: none;
    list-style-type: disc;
}
:root {
    --swiper-theme-color: #007aff;
}

#chkwrap .cont ul li::after {
    font-weight: bold;
    padding-left: 6px;
    color: red;
    content: "(필수)" !important;
}
#chkwrap .cont .marketing {
    padding-left: 30px;
    border-top: 1px dashed #dadada;
    line-height: 18px;
}
#chkwrap .cont .marketing {
    padding-left: 30px;
    border-top: 1px dashed #dadada;
    line-height: 18px;
}
#chkwrap .pb-10 {
    padding-bottom: 10px;
}
#chkwrap .cont .marketing .mk-wrap {
    height: 44px;
    line-height: 46px;
}
#chkwrap .cont .marketing .mk-wrap input {
    margin-top: -1px;
    *margin-top: 0;
}
#chkwrap .cont ul:after {
    clear: both;
    content: "";
    display: block;
}
ul, ol {
    list-style: none;
}
.new-privercy-contract {
    text-align: left;
}
#chkwrap .cont strong {
    color: #000;
}
strong, b, .bold {
    font-weight: 600;
}

#chkwrap .pl-30 {
    padding-left: 15px;
}

#chkwrap .cont .marketing .mk-wrap > div::after {
    content: "(선택)";
    font-weight: bold;
    padding-left: 2px;
    color: red;
}
.new-btn-area a {
    display: block;
    width: 200px;
    height: 60px;
    line-height: 64px;
    margin: 0 auto;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background: #5c95f0;
    border: 2px solid #5c95f0;
    border-radius: 6px;
}
.new-btn-area {
    text-align: center;
    margin: 20px 0 0;
    padding-bottom: 30px;
    border-bottom: 1px solid #ececec;
}
h4.tit {
    margin-top: 50px;
    margin-bottom: 5px;
    padding-left: 5px;
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.privercy-contract {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.new-privercy-contract {
    text-align: left;
}
#join .privercy-contract textarea {
    width: 80%;
    height: 120px;
}
.new-privercy-contract textarea {
    width: 95%;
    height: 70px;
}
.privercy-contract textarea {
    clear: both;
    border: 1px solid #CCC;
    height: 70px;
    background: #FFFFFF;
    padding: 10px;
    width: 660px;
}
textarea {
    letter-spacing: -2px;
    line-height: -20px;
}
#join .contract-tbl {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}


#bbslist table caption {
    display: none;
}
caption {
    visibility: hidden;
    width: 0px;
    height: 0px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}

.new-privercy-contract .contract-tbl {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
#join .contract-tbl th, #join .contract-tbl td {
    border: 1px solid #e0e0e0;
    text-align: center;
}
#join .contract-tbl th {
    background: #fcfcfc;
}
#join .contract-tbl th div {
    height: 41px;
    line-height: 43px;
}

.new-privercy-contract .contract-tbl th div {
    height: 41px;
    line-height: 43px;
}