<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dobby.project.dao.UserMapper">
    <select id="count" resultType="int">
        SELECT count(*) FROM member_info;
    </select>

    <select id="select" parameterType="String" resultType="UserDto">
        SELECT * FROM member_info
        WHERE MBR_ID = #{MBR_ID};
    </select>

    <update id="update" parameterType="UserDto">
        UPDATE member_info
        SET   PWD = #{PWD}
          , MBR_GRD = #{MBR_GRD}
          , MBR_GRD_DTM = now()
          , MBR_NM = #{MBR_NM}
        WHERE MBR_ID = #{MBR_ID}
    </update>

</mapper>