<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dobby.project.dao.UserMapper">

    <select id="count" resultType="int">
        SELECT count(*) FROM member_info;
    </select>

    <select id="selectUser" parameterType="String" resultType="UserDto">
        SELECT * FROM `dobbyisfree`.`member_info`
        WHERE MBR_ID = #{MBR_ID};
    </select>

    <select id="memberList" resultType="UserDto">
        SELECT MBR_ID, PWD, MBR_NM, EMAIL, MPNO, BD, SEX FROM member_info
        ORDER BY SUBS_DTM ASC
    </select>

    <sql id="selectFromUser">
        SELECT MBR_ID, PWD, MBR_NM, EMAIL, MPNO, BD, SEX, AGRE_YN
        FROM member_info
    </sql>

    <!--  <select id="selectPage" parameterType="map" resultType="UserDto">
          <include refid="selectFromUser"/>
          ORDER BY SUBS_DTM ASC, MBR_ID ASC
          LIMIT #{offset}, #{pageSize}
      </select>-->

    <insert id="insertUser" parameterType="UserDto">
        INSERT INTO member_info
            (MBR_NM, MBR_ID, PWD, BD, SEX, EMAIL, MPNO, AGRE_YN)
        VALUES
            (#{MBR_NM}, #{MBR_ID}, #{PWD}, #{BD}, #{SEX}, #{EMAIL}, #{MPNO}, #{AGRE_YN})
    </insert>

    <update id="updateUser" parameterType="UserDto">
        UPDATE member_info
        SET   PWD = #{PWD}
          , MBR_NM = #{MBR_NM}
          , EMAIL = #{EMAIL}
          , MPNO = #{MPNO}
          , BD = #{BD}
          , SEX = #{SEX}
          , AGRE_YN = #{AGRE_YN}
        WHERE MBR_ID = #{MBR_ID}
    </update>

    <delete id="deleteUser" parameterType="String">
        DELETE FROM member_info WHERE MBR_ID = #{MBR_ID}
    </delete>

    <delete id="deleteAll">
        DELETE FROM member_info
    </delete>


</mapper>